body {
    margin: 0;
    font-family: system-ui, sans-serif;
    font-size: 88.25%;
    background-color: #E6E6E6;
    color: #101010;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075) !important;
    height: 100%;
}

.Page1{
    background-color: white;
}

/********************* Section Navbar *********************/

.top-line {
    background-color: #90ee90; 
    height: 5px; 
    width: 100%; 
}

.navbar {
    background-color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 10px 100px;
}

.logo {
    font-size: 14px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #101010;
}

.nav-links a {
    text-decoration: none;
    padding: 12px 10px; 
    border-radius: 2px; 
    transition: background-color 0.3s ease;
}

.nav-links a[active] {
    background-color: #90ee90; 
    color: white;
}


.nav-links a:hover {
    background-color: #90ee90; 
    color: white;
}

.checkbtn {
    font-size: 30px;
    cursor: pointer;
    display: none;
    color: #101010;
}

#check {
    display: none;
}




/********************* Section Page *********************/

#Page {
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #E6E6E6;
}

.page {
    width: 100%;
    height: 100%;
    background-image: url('./images/slider-image2.jpg'); 
    background-size: cover; 
     object-fit: cover;
     background-color: rgba(0, 0, 0, 0.4); 
    background-blend-mode: darken;
}

.continue {
    color: white;  
    padding: 10px;
    border-radius: 10px;
    max-width: 320px;
    position: relative;
    top: 25%;
    left: 15%;
    z-index: 2;
}

button {
    background-color: transparent;
    border: 1px solid #E6E6E6;
    color: white;
    padding: 10px ;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #90ee90; 
}

/********************* Section Techers *********************/

#Teachers {
    background-color: #f3f2f2;
    margin-top: -17px;
}

.title-teacher{
    text-align: center !important;
}

.cards-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image {
    width: 100%;
    overflow: hidden;
    background: #f4f4f4;
}

.card-image img {
    width: 100%;
    height: auto;
    display: block;
    border: none;
}

.card-content {
    padding: 15px;
}

.card-content h4 {
    font-size: 18px;
    margin: 10px 0 5px;
    color: #333;
}

.card-content p {
    font-size: 14px;
    color: #666;
}

.icons {
    margin-top: 10px;
    border-top: 0.25px solid #dad5d5;
}

.icons a {
    margin: 0 5px;
    color: #555;
    text-decoration: none;
    font-size: 10px;
    transition: color 0.3s ease;
}

.icons a:hover {
    color: #007bff;
}

/********************* Popular-courses *********************/

.popular-text {
    text-align: center !important;
    margin: auto !important;
}

.popular-text h2 {
    font-size: 24px;
    color: #333;
}

.popular-text p {
    font-size: 16px;
    color: #666;
}

.courses-container {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    flex-wrap: wrap;
    max-width: 1055px; 
    margin: 0 auto; 
    padding: 10px;
    border-radius: 10px; 
}

.course {
    position: relative;
    width: 300px;
    overflow: hidden;
    border-radius: 5px;
    background: #000; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.course:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.course img {
    width: 100%;
    height: auto;
    opacity: 0.8; 
    transition: opacity 0.3s ease-in-out;
}

.course-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.course-info i {
    margin-right: 5px;
    color: #fff;
}


/********************* Section Menagement *********************/

.Page2{
    background-color: white;
    margin-top: 20px;
}

.cards-menagement {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    max-width: 1055px;
    margin: 0 auto;
    padding: 20px;
}

.cards-menagement .card {
    width: 300px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards-menagement .card h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.cards-menagement .card p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.card-footer .btn-blue {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 1px;
    cursor: pointer;
    font-size: 14px;
}

.card-footer .btn-green {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 15px;
    border-radius: 1px;
    cursor: pointer;
    font-size: 14px;
}

.btn-blue:hover,
.btn-green:hover {
    opacity: 0.9;
}


.cards-menagement .card p {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dad5d5;
}

.navigation-icons {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.navigation-icons .icon {
 width:  25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c2bebb; 
    color: #fff;
    font-size: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navigation-icons .icon:hover {
    transform: scale(1.1); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

/********************* Section Contact *********************/

#Contact {
    background-color: #007bff;
    padding: 50px 20px;
    color: #fff;
    margin-top: 20px;

}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1055px;
    margin: 0 auto;
    gap: 20px;
}

.contact-form {
    flex: 1;
    max-width: 50%;
}

.contact-form h2 {
    font-size: 15px;
    margin-bottom: 10px;
}

.contact-form p {
    font-size: 16px;
    margin-bottom: 20px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    margin-top: 5px;
}

.contact-form textarea {
    resize: none;
}

.contact-form .btn-submit {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s ease-in-out;
}

.contact-form .btn-submit:hover {
    background-color: #90ee90;
}

.contact-image {
    flex: 1;
    max-width: 40%;
}

.contact-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/********************* Section Footer *********************/

#Footer {
    background-color: #000; 
    color: #fff; 
    padding: 20px 30px;
}


.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    max-width: 1100px; 
    margin: 0 auto; 
    gap: 20px;
}


.footer-section {
    flex: 1;
    padding: 10px;
}

.footer-section h4 {
    font-size: 13px;
    margin-bottom: 10px;
    color: #FFF;
}

.footer-section p {
    font-size: 10px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.footer-section form {
    display: flex;
    gap: 10px;
}

.footer-section input[type="email"] {
    padding: 5px;
    border: 1px solid #1E90FF;
    border-radius: 3px;
    flex: 1; 
    font-size: 14px;
}

.footer-section button {
    padding: 5px 15px;
    background-color: #1E90FF; 
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.footer-section button:hover {
    background-color: #4682B4; 
}

#Footer {
    margin-top: 0;
}


/*En mode Responsive*/

/* 0 à 500px */
@media (max-width: 500px) {

    .navbar {
        display: flex;
    }

    .menu {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        background: white;
        flex-direction: column;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
    }

    .menu.active {
        display: flex;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .contact {
        margin-top: 10px;
    }

    .checkbtn {
        display: block;
    }

    .page {
        object-fit: cover;
        width: 100%;
    }

    /* section */

    .card {
        width: 1001%;
    }

    .courses-container {
        flex-direction: column;
        gap: 20px;
        max-width: 100%;
        padding: 10px;
    }

    .course {
        width: 100%; 
    }

    /* section */

    .cards-menagement {
        flex-direction: column;
        gap: 20px;
    }

    .cards-menagement .card {
        width: 90%;
    }

    .navigation-icons {
        gap: 10px;
    }

    .navigation-icons .icon {
        width: 30px;
        height: 30px;
        font-size: 12px;
    }

    /* section */

    .card {
        width: 1001%;
    }

    /* section */

    .contact-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contact-form {
        max-width: 100%;
    }

    .contact-form h2 {
        font-size: 16px;
    }

    .contact-form p {
        font-size: 14px;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 12px;
    }

    .contact-form .btn-submit {
        font-size: 12px;
        padding: 8px 15px;
    }

    .contact-image {
        max-width: 100%;
    }

    .contact-image img {
        width: 90%;
    }
}

/* 500 à 800px */
@media (min-width: 501px) and (max-width: 800px) {
    .menu {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        background: white;
        flex-direction: column;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
    }

    .menu.active {
        display: flex;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .contact {
        margin-top: 10px;
    }

    .checkbtn {
        display: block;
    }

    /* section */

    .card {
        width: 1001%;
    }

    .courses-container {
        justify-content: center;
        gap: 15px;
    }

    .course {
        width: calc(50% - 15px);
    }

    .cards-menagement {
        justify-content: center;
        gap: 15px;
        /* background-color: red !important; */
    }

    .cards-menagement .card {
        width: calc(50% - 10px);
    }

    .navigation-icons .icon {
        width: 35px;
        height: 35px;
        font-size: 14px;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contact-form {
        max-width: 100%;
    }

    .contact-form h2 {
        font-size: 18px;
    }

    .contact-form p {
        font-size: 15px;
    }

    .contact-image {
        max-width: 80%;
    }

    .contact-image img {
        width: 100%;
    }
}

/* 800px et plus */
@media (min-width: 801px) {
    .menu {
        display: flex;
    }

    .checkbtn {
        display: none;
    }

    .menu {
        flex-direction: row;
        align-items: center;
    }

    /* section */

    .card {
        width: 1001%;
    }

    .courses-container {
        justify-content: space-between;
        gap: 20px;
    }

    .course {
        width: 300px; 
    }

    .cards-menagement {
        justify-content: space-between;
        gap: 20px;
    }

    .cards-menagement .card {
        width: 300px;
    }

    .navigation-icons .icon {
        width: 25px;
        height: 25px;
        font-size: 8px;
    }

}
